/* @font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf)
}

@import "variables";

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: $paragraph-font-size;
} */