*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    --color-1: #29434e;
    --color-2: #087f23;
    --color-3: #ffee58;
    --color-4: #dd2c00;
    --color-5: #aa00ff;
    --color-6: #81d4fa;
    --primary-text-color: #102027;
    --secondary-text-color: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-6);
}

/* TITLE */

h1 {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 320px ;
    padding: 1rem;
    color: #a63d40;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: var(--color-1);
    border-radius: 3px;
}

#title-word-1 {
    color: #ddb967;
}

#title-word-2 {
    color: var(--color-2);
}

#title-word-3 {
    color: var(--color-3);
}

#title-word-4 {
}

#title-word-5 {
    color: var(--color-4);
}

#title-word-6 {
    color: var(--color-5);
}

.title-symbol {
    color: var(--secondary-text-color)
}

h1 span:not(:last-child) {
    margin-right: 1rem;
}

h1 span {
    display: block;
}

/* CALCULATOR */

#super-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#calculator-container {
    display: grid;
    grid-template-rows: repeat(7, minmax(2rem, 1fr));
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
    width: 30%;
    min-width: 320px ;
    max-width: 400px ;
    color: var(--primary-text-color);
    border: solid 20px var(--color-1);
    border-radius: 1rem;
}

#calculator-display,
#secondary-display {
    overflow-x: auto;
    text-align: right;
}

#calculator-display {
    grid-column: 1/5;
    padding: 1rem 1rem 0 1rem;
    color: var(--primary-text-color);
    font-weight: bolder;
    font-size: 4rem;
    background-color: #d1603d;
    border-right: solid 0.3rem var(--primary-text-color);
    border-bottom: solid 0.5rem var(--primary-text-color);
    border-left: solid 0.3rem var(--primary-text-color);
}

#secondary-display {
    grid-column: 1/5;
    padding: 1rem 1rem 0 1rem;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 1.8rem;
    background-color: #c5cbd3;
    border-top: solid 0.3rem var(--primary-text-color);
    border-right: solid 0.3rem var(--primary-text-color);
    border-bottom: dotted 0.3rem var(--primary-text-color);
    border-left: solid 0.3rem var(--primary-text-color);
}

button {
    font-weight: bold;
    font-size: 2rem!important;
    border: 0.2rem solid var(--primary-text-color);
    cursor: pointer;
}

.numbers-buttons {
    background-color: var(--color-3)
}

.numbers-buttons:hover {
    color: var(--secondary-text-color);
    background-color: rgba(209, 227, 127, 0.5);
}

.operators-buttons {
    background-color: #ddb967;
}

.operators-buttons:hover {
    color: var(--secondary-text-color);
    background-color: rgba(221, 186, 103, 0.5);
}

#equals-button {
    grid-column: 1/3;
    color: var(--color-3);
    background-color: var(--color-2)
}

#equals-button:hover {
    background-color: rgba(1, 161, 1,0.5);
}

#delete-button {
    color: var(--color-1);
    background-color: var(--color-5);
}

#delete-button:hover {
    background-color: rgba(255, 166, 0, 0.5);
}

#button-clear {
    grid-column: span 2;
    color: var(--color-3);
    background-color: var(--color-4);
}

#button-clear:hover {
    color: var(--primary-text-color);
    background-color: rgba(255, 0, 0, 0.5);
}

.disabled-buttons {
    background-color: #dcdcdc !important;
    cursor: default;
}

/** ALERT MESSAGE **/
#alert-message {
    position: fixed;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #f57c00;
    border: solid 3px var(--primary-text-color);
    border-radius: 3px;
}

/* OPERATIONS HISTORIC */
#operations-historic {
    padding: 1.5rem;
    overflow-x: auto;
    overflow-y: auto;
    color: var(--color-3);
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-1);
    border: solid 3px #ddb967;
    border-radius: 3px;
}


/* CALCULATOR ICON */

#calculator-icon {
    display: none;
    width: 10%;
    max-width: 8rem;
}

/*** MEDIA QUERIES - Min Width - 600px ***/

@media only screen and (min-width: 600px) {

    h1 {
        font-size: 3rem;
    }
}

/*** MEDIA QUERIES - Min Height - 660px ***/

@media only screen and (min-height: 660px) {

    #calculator-icon {
        display: flex;
    }
}
